{% extends 'main/base.html' %}
{% load static %}

{% block content %}
 <div class="form_section">
             <form action="" class="add__prod">
                <h1 class="form__name">НОВЫЙ ТОВАР</h1>
                <input type="text" placeholder="НАИМЕНОВАНИЕ">
                <input type="text" placeholder="Производитель">
                <input type="text" placeholder="Цена">
                <textarea name="" id="" placeholder="Описание"></textarea>
                <input type="text" placeholder="Кол-во">
                <button class="btn btn-info">ДОБАВИТЬ ФОТО</button>
            </form>

            <button class="add">ДОБАВИТЬ</button>
        </div>
{% endblock %}