{% extends 'main/base.html' %}

{% block content %}
        <div class="filter">
            <h2 class="filter__name">Фильтрация</h2>
            <form action="" class="filter__input">
                <label for="">По цене</label>
                <input type="text" value="">
                <label for="">По названию</label>
                <input type="text" value="">
                <label for="">Производитель:</label>
                <input type="text" value="">
                <button>Фильтровать</button>
            </form>
        </div>
{% endblock %}