{% extends 'main/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
        <div class="filter">
            <h2 class="filter__name">Фильтрация</h2>
            <form action="" class="filter__input">
                <label for="">По цене</label>
                <input type="text" class="search" placeholder="Search" >
                <label for="">По названию</label>
                <input type="text" class="search">
                <label for="">Производитель:</label>
                <input type="text" class="">
                <button>Фильтровать</button>
            </form>
        </div>

        <h2 class="section__name">Товары</h2>

        <div class="products" id="products">
            {% for el in prods %}
            <div class="product">
                <img src=" {{ el.photo }} " alt="image">
                <p class="product__price price">{{ el.price }}</p>
                <p class="product__name name">{{ el.name }}</p>
                <p class="product__name proiz">{{ el.quantity }}</p>
                <div class="produtcs__btns">
                    <a href="{% url 'sea-del' el.id %}"> <button class="btn btn-danger">Удалить</button></a>
                    <a href="{% url 'sea-update' el.id %}"> <button class="btn btn-success">Изменить</button></a>
                    <a href="{% url 'home' %}"> <button class="btn btn-warning">В корзину</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}