{% extends 'main/base.html' %}
{% load static %}

{% block content %}
        <div class="filter">
            <h2 class="filter__name">Фильтрация</h2>
            <form action="" class="filter__input">
                <label for="">По цене</label>
                <input type="text" value="">
                <label for="">По названию</label>
                <input type="text" value="">
                <label for="">Производитель:</label>
                <input type="text" value="">
                <button>Фильтровать</button>
            </form>
        </div>

        <h2 class="section__name">Товары</h2>

        <div class="products">
            {% for el in prods %}
            <div class="product">
                <img src=" {{ el.photo.url }} " alt="image">
                <p class="product__price">{{ el.price }}</p>
                <p class="product__name">{{ el.name }}</p>
                <p class="product__name">{{ el.quantity }}</p>
                <div class="produtcs__btns">
                    <button class="btn btn-danger">Удалить</button>
                    <button class="btn btn-success">Изменить</button>
                    <button class="btn btn-warning">В корзину</button>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}